
input#submit {
    font-size: 130%;
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: #e95a0c;
    color: #FFFFFF;
}

input.button {
    font-size: 130%;
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: #e95a0c;
    color: #FFFFFF;
}

.submit {
    font-size: 130%;
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: #e95a0c;
    color: #FFFFFF;
}

.errorfield {
    border-color: crimson;
    color: #dc143c;
}

.label {
    font-weight: bold;
}

.title {
    font-size: 150%;
    color: #888;
}

.title2 {
    font-size: 105%;
    text-transform: uppercase;
    font-weight: bold;
    color: #e95a0c;
}

.titleBig {
    font-size: 250%;
    text-transform: uppercase;
    font-weight: bold;
    color: #e95a0c;
}

legend {
    font-size: 105%;
    text-transform: uppercase;
    font-weight: bold;
    color: #e95a0c;
}

dt {
    text-align: left;
    font-weight: bold;
}

dt:first-letter {
    text-transform: uppercase;
}

dd {
    text-align: left;
}

dd:first-letter {
    text-transform: uppercase;
}

.windowPart {
    border: dotted 1px #CCC;
}

.errors {
    display: none;
}

.no_results {
    font-weight: bold;
}

.menu {
    width: 100%;
}

menu:first-letter {
    text-transform: uppercase;
}

.menu ul {
    width: 180px;
}

.menu li {
    width: 180px;
}

.menu li:first-letter {
    text-transform: uppercase;
}

fieldset {
    border: none;
}

.ws_data_table tr.no-population-place {
    background-color: #8fc157;
}

.ws_data_table tr[onclick] {
    cursor: pointer;
}

.uppercase {
    text-transform: uppercase;
}

td.right {
    text-align: right;
}

td.center {
    text-align: center;
}

a {
    text-decoration: none;
    color: #555;
}

input {
    border-radius: 5px;
    border: solid 1px #999;
}

.inline-icon {
    display: inline-block;
    vertical-align: middle;
}

.contentbox {
    padding: 10px;
    text-align: left;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border: solid 1px #CCC;
    border-radius: 5px;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.leftBorder {
    border-left: solid 1px #CCCCCC
}

.creator {
    color: #888;
}

.logo {
    vertical-align: bottom;
}


